body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.title {
  font-size: 24px;
  margin-bottom: 20px;
}

.skills {
  text-align: left;
  background-color: #000;
  color: #fff;
  padding: 10px;
}

.intro {
  background-color: #fff;
  color: #000;
  padding: 10px;
  text-align: left;
}

.skills h2,
.intro h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.skills ul,
.intro ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.skills ul li,
.intro ul li {
  margin-bottom: 5px;
}

.skills ul li:before,
.intro ul li:before {
  content: "•";
  margin-right: 5px;
  color: #fff;
}
